
    
    <div id="slideshowContainer">
      
        <div id="slideshow"> 
         
          <div id="card" *ngFor="let member of members"   >

            <!-- 1/3 of card -->
            <img id="cardLogo" src="../../assets/bcbs_logo.PNG">

            <!-- 2/3 of card-->
            <div id="secondThird" class="oneThird">
              <div class="innerHalfSection">
                <p>Name <br>
                  <b>{{member.name}}</b>
                </p>
                
                <p>ID #<br>
                  <b>{{member.id}}</b>

                </p>
                

              </div>
              <div class="innerHalfSection" >
                  <p>Dependents<br>
                  
                    <b>Dependent one</b><br>
                    <b>Dependent two</b><br>
                    <b>Dependent tree</b><br>
                  </p>
  
                </div>

            </div>


            <!-- 3/3 of card -->
            <div id="thirdThird" class="oneThird">
                <div class="innerHalfSection">
                  <p>Group No. <b>999999</b></p>
                  <p>BIN <b>99999</b></p>
                  <p>Benegit Plam <b>HIOPT</b> </p>
                  <p>Effective Date <b>00/00/00</b></p>
  
                </div>
                <div class="innerHalfSection">
                    <p>Plan <b>PPO</b></p>
                    <p>Office Visit <b>$15</b></p>
                    <p>Specialist Copay<b>$15</b> </p>
                    <p>Emergency  <b>$75</b></p>
                    <p>Deductible  <b>$75</b></p>
                  </div>
              </div>

          </div>

          
          
        </div><!--slideshow-->
        
        <button class="arrow left" (click)="prevBtn()">
            <svg viewBox="0 0 50 80" xml:space="preserve">
              <polyline fill="none"  points="
            45.63,75.8 0.375,38.087 45.63,0.375 "/>
            </svg>  
          </button>


          <button class="arrow right" (click)="nextBtn()">
            <svg  viewBox="0 0 50 80" xml:space="preserve">
              <polyline fill="none"   points="
            0.375,0.375 45.63,38.087 0.375,75.8 "/>
            </svg>
          </button>
      </div><!--slideshowContainer-->
 