
    
    <div id="slideshowContainer">
      
        <div id="slideshow"> 
         
          <div id="card"  >

            <!-- 1/3 of card -->
            <img id="cardLogo" src="../../assets/logo.png">

            <!-- 2/3 of card-->
            <div id="secondThird" class="oneThird">
              <div class="innerHalfSection">
                <p>Name <br>
                  <b>{{name}}</b>
                </p>
                <p>ID #<br>
                  <b>{{ID}}</b>
                </p>
              </div>
              <div class="innerHalfSection"  >
                  <p>Dependents</p> 
                  <!-- Reason for another div is to make coloums appear when list is longer than 3 -->
                  <div class="dependentList">

                    <div class="dependent" *ngFor="let dep of dependents">
                      <b >{{dep}}</b><br>
                    </div>
                  </div>
                </div>
            </div>
            <!-- 3/3 of card -->
            <div id="thirdThird" class="oneThird">
                <div class="innerHalfSection">
                  <p>Group No. <b>{{groupNo}}</b></p>
                  <p>BIN <b>{{bin}}</b></p>
                  <p>Benegit Plam <b>{{benPla}}</b> </p>
                  <p>Effective Date <b>{{effDate}}</b></p>
  
                </div>
                <div class="innerHalfSection">
                    <p>Plan <b>{{plan}}</b></p>
                    <p>Office Visit <b>${{ov}}</b></p>
                    <p>Specialist Copay <b>${{sc}}</b> </p>
                    <p>Emergency  <b>${{emergency}}</b></p>
                    <p>Deductible  <b>${{dedu}}</b></p>
                  </div>
              </div>

          </div>

          <!-- Add one because index starts at 0 -->
          <p class="cardIndex">Card: {{index+1}}/{{count}}</p>
        </div><!--slideshow-->
        
        <button class="arrow left" (click)="prevBtn()">
            <svg viewBox="0 0 50 80" xml:space="preserve">
              <polyline fill="none"  points="
            45.63,75.8 0.375,38.087 45.63,0.375 "/>
            </svg>  
          </button>

          <button class="arrow right" (click)="nextBtn() " >
            <svg  viewBox="0 0 50 80" xml:space="preserve">
              <polyline fill="none"   points="
            0.375,0.375 45.63,38.087 0.375,75.8 "/>
            </svg>
          </button>
      </div><!--slideshowContainer-->
      

